<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="large text-muted">
<h3>Mosaicism</h3>
<ul>
<li><b>N. B. Rockweiler</b>, A. Ramu, L. Nagirnaja, W. H. Wong, J. Michiel, C. W. Drubin, N. Huang, B. Miller, E. Z. Todres, K. A. Vigh-Conrad, A. Zito, K. S. Small, K. G. Ardlie, B. A. Cohen, D. F. Conrad, The origins and functional effects of postzygotic mutations throughout the human lifespan. <i>bioRxiv</i> 473199 [Preprint] (2021). [doi: <a href="https://doi.org/10.1101/2021.12.20.473199">10.1101/2021.12.20.473199</a>] [<a href="/assets/pdf/rockweiler_et_al.biorxiv.2021.pdf ">PDF</a>]</li>
</ul>

<h3>Epigenomics</h3>
<ul>
<li>J. Zhou, R. L. Sears, X. Xing, B. Zhang, D. Li, <b>N. B. Rockweiler</b>, H. S. Jang, M. N. K. Choudhary, H. J. Lee, R. F. Lowdon, J. Arand, B. Tabers, C. C. Gu, T. J. Cicero, T. Wang, Tissue-specific DNA methylation is conserved across human, mouse, and rat, and driven by primary sequence conservation. <i>BMC Genomics</i>. 18, 724 (2017). [doi: <a href="https://doi.org/10.1186/s12864-017-4115-6">10.1186/s12864-017-4115-6</a>] [pmid: <a href="https://pubmed.ncbi.nlm.nih.gov/28899353">28899353</a>] [<a href="/assets/pdf/zhou_et_al.bmc_genomics.2017.pdf">PDF</a>]</li>

<li>S. Sankar, D. Yellajoshyula, B. Zhang, B. Teets, <b>N. B. Rockweiler</b>, K. L. Kroll, Gene regulatory networks in neural cell fate acquisition from genome-wide chromatin association of Geminin and Zic1. <i>Sci Rep</i>. 6, 37412 (2016). [doi: <a href="https://doi.org/10.1038/srep37412">10.1038/srep37412</a>] [pmid: <a href="https://pubmed.ncbi.nlm.nih.gov/27881878">27881878</a>] [<a href="/assets/pdf/sankar_et_al.scientific_reports.2016.pdf">PDF</a>]</li>

<li>X. Zhou, D. Li, B. Zhang, R. F. Lowdon, <b>N. B. Rockweiler</b>, R. L. Sears, P. a F. Madden, I. Smirnov, J. F. Costello, T. Wang, Epigenomic annotation of genetic variants using the Roadmap Epigenome Browser. <i>Nat Biotechnol</i>. 33, 345–346 (2015). [doi: <a href="https://doi.org/10.1038/nbt.3158">10.1038/nbt.3158</a>] [pmid: <a href="https://pubmed.ncbi.nlm.nih.gov/25690851">25690851</a>] [<a href="/assets/pdf/zhou_et_al.nature_biotechnology.2015.pdf">PDF</a>]</li>

<li>Roadmap Epigenomics Consortium, Integrative analysis of 111 reference human epigenomes. <i>Nature</i>. 518, 317–330 (2015). [doi: <a href="https://doi.org/10.1038/nature14248">10.1038/nature14248"</a>] [pmid: <a href="https://pubmed.ncbi.nlm.nih.gov/25693563">25693563</a>] [<a href="/assets/pdf/roadmap_epigenomics_consortium_et_al.nature.2015.pdf ">PDF</a>]
</li>
</ul>

<h3>Other</h3>
<ul>
<li>E. Mahyari, J. Guo, A. C. Lima, D. P. Lewinsohn, A. M. Stendahl, K. A. Vigh-Conrad, X. Nie, L. Nagirnaja, <b>N. B. Rockweiler</b>, D. T. Carrell, J. M. Hotaling, K. I. Aston, D. F. Conrad, Comparative single-cell analysis of biopsies clarifies pathogenic mechanisms in Klinefelter syndrome. <i>Am J Hum Genet</i>. 108, 1924–1945 (2021). [doi: <a href="https://doi.org/10.1016/j.ajhg.2021.09.001">10.1016/j.ajhg.2021.09.001</a>] [pmid: <a href="https://pubmed.ncbi.nlm.nih.gov/34626582">34626582</a>] [<a href="/assets/pdf/mahyari_et_al.ajhg.2021.pdf">PDF</a>]</li>

<li>C. M. Taylor, <b>N. B. Rockweiler</b>, C. Liu, L. Rikimaru, A.-K. Tunemalm, O. G. Kisselev, G. R. Marshall, Using ligand-based virtual screening to allosterically stabilize the activated state of a GPCR. <i>Chem Biol Drug Des</i>. 75, 325–32 (2010). [<a href="https://doi.org/10.1111/j.1747-0285.2009.00944.x">doi.org/10.1111/j.1747-0285.2009.00944.x</a>] [pmid: <a href="https://pubmed.ncbi.nlm.nih.gov/20659113">20659113</a>] [<a href="/assets/pdf/taylor_et_al.chemical_biology_and_drug_design.2010.pdf">PDF</a>]</li>

<li>S. M. Kennedy, Z. Ji, <b>N. B. Rockweiler</b>, A. R. Hahn, J. H. Booske, S. C. Hagness, The Role of Plasmalemmal-Cortical Anchoring on the Stability of Transmembrane Electropores. <i>IEEE Trans Dielectr Electr Insul</i>. 16, 1251–1258 (2009). [doi: <a href="https://doi.org/10.1109/TDEI.2009.5293935"> 10.1109/TDEI.2009.5293935</a>] [pmid: <a href="https://pubmed.ncbi.nlm.nih.gov/20490371">20490371</a>] [<a href="/assets/pdf/kennedy_et_al.iee_trans_dielectr_electr_insul.2009.pdf">PDF</a>]</li>

</ul>
 
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->
