<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="large text-muted">
          <ul>
            <li>Mahyari E., Guob, J., Lima, A. C., Lewinsohn, D. P., Stendahl A., Vigh-Conrad, K. A., Nieb X., Nagirnaja L., <b>Rockweiler, N. B.</b>, Carrell, D. T., Hotaling J. M., Aston, K. I., Conrad D. F., Comparative single-cell analysis of biopsies identifies pathogenic mechanisms in Klinefelter Syndrome. In press.</li>
            <li><b>Rockweiler, N. B.</b>, Ramu, A., Nagirnaja, L., Wong, W.H., Noordam, M.J., Miller, B., Gelfand, E., Drubin, C., Huang, N., Ardlie, K., Cohen, B.A., Conrad, D.F. The origins and functional effects of postzygotic mutations throughout the human lifespan. In preparation.</li>
            <li>Nagirnaja, L., Leon-Ricardo, B., <b>Rockweiler, N. B.</b>, Ramu, A., Noordam, M., Wong, W. S., Carrell, D., Aston, K. I., and Conrad, D.F. Detection and quantification of human germline mosaicism. In preparation.</li>
            <li>Zhou, J., Sears, R. L., Xing, X., Zhang, B., Li, D., <b>Rockweiler, N. B.</b>, … Wang, T. (2017). Tissue-specific DNA methylation is conserved across human, mouse, and rat, and driven by primary sequence conservation. BMC Genomics, 18(1), 724. <a href="https://doi.org/10.1186/s12864-017-4115-6">https://doi.org/10.1186/s12864-017-4115-6</a></li>
            <li>Sankar, S., Yellajoshyula, D., Zhang, B., Teets, B., <b>Rockweiler, N. B.</b>, and Kroll, K. L. (2016). Gene regulatory networks in neural cell fate acquisition from genome-wide chromatin association of Geminin and Zic1. Scientific Reports, 6(November), 37412. <a href="https://doi.org/10.1038/srep37412">https://doi.org/10.1038/srep37412</a></li>
            <li>Roadmap Epigenomics Consortium, et al. (2015). Integrative analysis of 111 reference human epigenomes. Nature, 518, 317–330. <a href="https://doi.org/10.1038/nature14248">https://doi.org/10.1038/nature14248</a></li>
            <li>Zhou, X., Li, D., Zhang, B., Lowdon, R. F., <b>Rockweiler, N. B.</b>, Sears, R. L., … Wang, T. (2015). Epigenomic annotation of genetic variants using the Roadmap Epigenome Browser. Nature Biotechnology, 33(4), 345–346. <a href="https://doi.org/10.1038/nbt.3158">https://doi.org/10.1038/nbt.3158</a></li>
            <li>Taylor, C. M., <b>Rockweiler, N. B.</b>, Liu, C., Rikimaru, L., Tunemalm, A.-K., Kisselev, O. G., and Marshall, G. R. (2010). Using ligand-based virtual screening to allosterically stabilize the activated state of a GPCR. Chemical Biology and Drug Design, 75(3), 325–32. <a href="https://doi.org/10.1111/j.1747-0285.2009.00944.x">https://doi.org/10.1111/j.1747-0285.2009.00944.x</a></li>
            <li>Kennedy, S. M., Ji, Z., <b>Rockweiler, N. B.</b>, Hahn, A. R., Booske, J. H., and Hagness, S. C. (2009). The Role of Plasmalemmal-Cortical Anchoring on the Stability of Transmembrane Electropores. IEEE Transactions on Dielectrics and Electrical Insulation: A Publication of the IEEE Dielectrics and Electrical Insulation Society, 16(5), 1251–1258. <a href="https://doi.org/10.1109/TDEI.2009.5293935">https://doi.org/10.1109/TDEI.2009.5293935</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End About -->
